.list-component{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
    row-gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    padding: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.columns-header{
    height: 80px;
    grid-template-rows: auto;
}

.list-component.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    justify-self: center;
}

.on{
    background-color: green;
}

.off{
    background-color: red;
}

p{
    margin: 0;
}

select {
    padding: 12px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 20px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin: 0 20px;
}

option {
    padding: 30px;
}

.reset-btn{
    background: #ff000a;
    padding: 15px 25px;
    color: whitesmoke;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
}

.reset-btn:hover{
    transform: scale(1.1);
}